*
{
    box-sizing: border-box;
}

body,html
{
	background-image: url('../img/images.jpg');
	background-repeat: no-repeat;
	background-position: 100%;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 100%;
	margin: 0 auto;
}

main
{
    margin: 2em 0;
}

header canvas
{
	width: 100%;
}

section.service 
{
	text-align: center;
	background-image: none;
	background-color: white;
	width: 100%
}

section.service h1 
{
	height: 1em;
	font-size: 4em;
	color: #5e1e8c;
	padding: 5%; 
}

section.service article
{
	display: inline-block;
	padding: 2%;
	color: violet;
	vertical-align: top;
}

section.service article h2
{
	color: #5e1e8c;
}

section.service .circle
{
	display: block;
	margin: auto;
	width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #5e1e8c;
}

section.contact
{
	text-align: center;
	color: white;
	margin: 0% 20% 0%;
	padding: 5%;
}

hr
{
	margin-top: 15%;
}

aside
{
	text-align: center;
	background-color: black;
	color: white;
}

aside div
{
	display: inline-block;
	padding: 1% 5%;
}




